<% if @play %>

  <h2 class="text-center"><%= @play.title %></h2>

  <table class="table">
    <tr>
      <th>Character Name &nbsp;&nbsp;</th>
      <th>Number of Lines</th>
    </tr>

    <% @play.characters.each do |character| %>
      <tr>
        <td><%= character.name %></td>
        <td><%= character.lines_count %></td>
      </tr>
    <% end %>

  </table>

<% else %>

  <blockquote class='blockquote text-center play_lines_output'>
    <p class="mc-0">Could Not Complete This Request</p>
  </blockquote>

<% end %>
